$color-primary: #706C61;
$color-primary-light: #A88E47;
$color-secondary: #B6CEB9;
$color-tertiary: #99C5B5;
$color-quaternary: #AFECE7;
$color-quaternary-light: #BFFFFA;
$color-quaternary-dark: #00A093;
$color-quinary: #81F499;
