.button {
    width: 20rem;
    height: 100%;
    border: none;
    cursor: pointer;

    background-color: $color-quaternary-dark;
    transition: background-color .4s;

    &:hover {
        background-color: $color-primary-light;
    }

    @include respond(phone) {
        width: 15rem;
    }
    @include respond(micro) {
        width: 10rem;
    }

    &--BlogPostPage {
        font-size: 2rem;
        color: $color-quaternary-light;
        padding: 2rem;

        @include respond(phone) {
            width: 15rem;
            font-size: 1.5rem;
        }
    }
}