.BlogSnippet {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
    text-decoration: none;
    color: $color-primary;
    grid-gap: 1rem;
    background-color: white;
    transition: all .2s;
    &:hover{
        transform: translateY(-1.5rem)
    }

  
    &__title {
            align-self: center;
            justify-self: center;
            font-size: 2.5rem;
            padding: 1rem;
            width: 100%;
            text-align: center;

            @include respond(phone) {
                font-size: 2.25rem;
            }
        }

        &__date {
            align-self: center;
            justify-self: center;
            font-size: 1.75rem;
            width: 100%;
            text-align: center;
            padding: 1rem;
            font-weight: 300;
        }



    &__image-box{

        width: 100%;
        justify-self:center;
        height: 30rem;
        // height: 100%;

        &__image{
         width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        }
    }
    &__tag-box {
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        padding-left: 1rem;

        &__icon {
            width: 3rem;
        }

        &__tags {
            margin-left: 1rem;
        }
        
    }

    &__blurb {
        padding: 2.5rem;
        font-size: 2rem;
        line-height: 1.6;

        @include respond(phone) {
            font-size: 1.75rem;
        }
    }
}